[submodule "frontend-graphql"]
	path = frontend-graphql
	url = https://github.com/markoshlima/frontend-graphql.git
[submodule "myflix-hexagonal"]
	path = myflix-hexagonal
	url = https://github.com/markoshlima/myflix-hexagonal.git
